extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2= title

        // sign in form
        div.form-group
          a.btn.btn-primary(href='/auth/facebook') Facebook
       
        div.form-group
          a.btn.btn-danger(href='/auth/google') Google
         
        div.form-group
          a.btn.btn-war(href='/users') user
          
          
  script.
   window.fbAsyncInit = function() {
   FB.init({
   appId      : '212670729526477',
   xfbml      : true,
   version    : 'v3.0'
    });
    FB.AppEvents.logPageView();
    };
    (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
