<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Selket</title>
</head>
<body>
    <h1>Selket</h1>

    <form action="">
        <a href="/auth/facebook" target="_blank"><button class="button" type="button">Facebook</button></a>
    </form>

</body>
</html>